#!name=哔哩哔哩 CC 字幕
#!desc=哔哩哔哩 CC 字幕繁体转简体
#!author = ddgksf2013
#!category=⚙️ ▸ StreamingEnhance

hostname = aisubtitle.hdslb.com,i0.hdslb.com

# > 哔哩哔哩繁体CC字幕转中文简体
^https?:\/\/.*\.hdslb\.com\/bfs\/subtitle\/.+\.json url script-response-body https://raw.githubusercontent.com/bautistaclay/ios/master/Scripts/BiliBiliCC.js