#!name= b站精简占用
#!desc= 需卸载重装，这是用很久清理缓存后的占用
#!author = 小昭到处跑
#!category= ⚙️ ▸ 广告拦截

(?=resource\?resourceUrl|upos\-sz\-staticcos) url reject
(?=.*(hdslb\.com.*(\.zip|\.mp4)))^((?!(hdslb\.com\/bfs\/app-static\/)).)*$ url reject