#!name=Filmix
#!desc=Filmix破解脚本
#!author=XiaoMao
#!category=⚙️ ▸ AppCrack

^https?:\/\/appv2\.filmix\.com\.cn\/api\/v\d\/users url script-response-body https://raw.githubusercontent.com/bautistaclay/ios/master/Scripts/Filmix.js
hostname = appv2.filmix.com.cn