#!name=爱阅书香
#!desc=爱阅书香会员激励
#!author = Mattraks
#!category=⚙️ ▸ 功能增强

^https:\/\/api-access\.pangolin-sdk-toutiao\.com\/api\/ad\/union\/sdk\/get_ads.+ url script-response-body https://raw.githubusercontent.com/bautistaclay/ios/master/Scripts/iFreeTime.js
hostname = api-access.pangolin-sdk-toutiao.com