#!name=哎呀漫鸭
#!desc=哎呀漫鸭破解脚本
#!author=Yu9191
#!category=⚙️ ▸ Crack


^https:\/\/www\.aiyamanya\.com\/aymy\/api\/getUserInfo url script-response-body https://raw.githubusercontent.com/bautistaclay/ios/master/Scripts/ManYa.js

hostname = aiyamanya.com