#!name=万源阅读会员
#!desc=万源阅读解锁，非一次性。破解方式为苹果内购恢复购买。苹果商店换区失败禁用此插件即可。
#!author=Yu9191
#!category=⚙️ ▸ 应用解锁


^https:\/\/buy\.itunes\.apple\.com\/verifyReceipt url script-response-body https://raw.githubusercontent.com/bautistaclay/ios/master/Scripts/WanYuanRead.js

hostname = buy.itunes.apple.com