# > 直连修正
# 番茄官方api
host, novel.snssdk.com, DIRECT
# 动漫App 喵物次元
host-suffix, catw.cc, DIRECT
# 动漫App Omofun
host-suffix, omoapis.org, DIRECT
host-suffix, omojson.vip, DIRECT
# CliCli
host-suffix, clicli.cc, DIRECT
host-suffix, clicli.deno.dev, DIRECT
# 嘶哩嘶哩
host-suffix, silisili.cc, DIRECT
# 次元城
host-suffix, app.95189371.cn, DIRECT
# MiFun
host-suffix, mifun.org, DIRECT