#!name= 直连站点
#!desc= 站点直连分流规则
#!author = bautistaclay
#!category= ⚙️ ▸ Rule

# > 用于直连修正
#==================小说==================#
# 番茄官方api
host, novel.snssdk.com, direct
# 番茄小说网
host, fanqianxs.com, direct
#==================影视==================#
# AlphaTV直连
#host, alphatvapp.top, direct
