#!name= 去广告
#!desc=自用去广告
#!author = bautistaclay
#!category= AdsBlock

# U净去广告
host, ads.zhinengxiyifang.cn, reject
# 王者营地开屏广告
host, rdelivery.qq.com, reject
# 哔哩哔哩去开屏
host, httpdns.bilivideo.com, reject
# b站精简占用
host, upos-sz-staticcos.bilivideo.com, reject