#!name= 订阅更新
#!desc=代理节点
#!author = bautistaclay
#!category= ⚙️ ▸ Rule

#===============服务管理=================#
# BoxJs
host-suffix, boxjs.com, proxy
# SubStore
host-suffix, sub.store, proxy
# ScriptHub
host, scripthub.vercel.app, proxy
#==============代理订阅===============#
