# > 用于书源分流
#==================小说==================#
# 第一版主
host-suffix, diyibanzhu.buzz , 阅读分流
host-suffix, 12bz.net , 阅读分流
host-keyword, banzhu, 阅读分流
# 御书屋
host-suffix, yuzhaiwu.life , 阅读分流
host-suffix, po18xs.com , 阅读分流
# 集书阁
host-suffix, jishuge.vip , 阅读分流
# 爱笔楼/笔趣阁
host-suffix, ibiquge.info , 阅读分流
host-suffix, ibiquzw.info , 阅读分流
# 猫眼看书
host-suffix, jmlldsc.com , 阅读分流
host-suffix, jxgtzxc.com , 阅读分流
# 笔尖小说
host-suffix, bjcan8.com , 阅读分流
# 恩木书库
host-suffix, enmuku.com , 阅读分流
# 疯情阅读
host-suffix, aaread.club , 阅读分流
# 龙腾小说
host-suffix, longtengxiaoshuo.org , 阅读分流
# 大米小说
host-suffix, damixs.com , 阅读分流
host-suffix, damixs.info , 阅读分流
# 海阅小说8
host-suffix, haiyue8.cc , 阅读分流
host-suffix, haiyue8.com , 阅读分流
# 番茄小说123
host-suffix, fqxs123.com , 阅读分流
# 提莫书屋
host-suffix, timotxt.com , 阅读分流
# 贼吧网
host-suffix, zei8.vip , 阅读分流
# 言情港
host-suffix, yanqinggang.com , 阅读分流
# 看书神
host-suffix, kanshushenapp.com , 阅读分流
# 笔趣阁
host-suffix, biqugewu.net , 阅读分流
host-suffix, biqugej.org , 阅读分流
host-suffix, bqgka.com , 阅读分流
host-suffix, bqgbe.com , 阅读分流
# 笔趣阁789
host-suffix, biquzw789.info , 阅读分流
host-suffix, bqg789.com , 阅读分流
host-suffix, bqzw789.com , 阅读分流
# 天天书吧
host-suffix, ttshuba.net , 阅读分流
# 全本小说
host-suffix, qb5.in , 阅读分流
host-suffix, qb5.ac , 阅读分流
# 奇快中文
host-suffix, qkzw.cc , 阅读分流
# 138阅读网
host-suffix, 138txt.net , 阅读分流
# 错衡文学网
host-suffix, cuoheng.com , 阅读分流
# 乐文小说
host-suffix, lewen.so , 阅读分流
host-suffix, lewen.org , 阅读分流
# 天籁小说
host-suffix, 23sk.net , 阅读分流
host-suffix, 23sk.com , 阅读分流
# 星月文学
host-suffix, xingyueboke.com , 阅读分流
# TVB小说网
host-suffix, tvbts.net , 阅读分流
host-suffix, tvbts4.com , 阅读分流
# 飞翔鸟中文🐦‍⬛
host-suffix, fxnzw.com, 阅读分流
# 爱去小说
host-suffix, aiquxs.com , 阅读分流
# 书汇小说
host-suffix, shuhui8.com , 阅读分流
# 爱下电子书
host-suffix, aixdzs.com, 阅读分流
# 渣渣小说
host-suffix, zztxt.net , 阅读分流
# 云云小说
host-suffix, yunyunxs.com , 阅读分流
# 去读小说
host-suffix, hongyue3.net , 阅读分流
# 147小说
host-suffix, 147xs.org , 阅读分流
# 第一六九
host-suffix, diyi69.com , 阅读分流
# 海棠文学
host-suffix, longmabookcn.com,阅读分流
# 52书库
host-suffix, po5.net,阅读分流
# 泡书吧
host-suffix, paoshuba.com,阅读分流
# 69成人小说网
host-suffix, 69story.com,阅读分流
# 小说狂人网
host-suffix, czbook.net,阅读分流
# 破万卷
host-suffix, powanjuan.cc,阅读分流
# 宙斯小说
host-suffix, zhsxs.com,阅读分流
host-suffix, zhsshu.com,阅读分流
# 小说王子
host-suffix, api.bookmake.cc,阅读分流
# 69书吧
host-suffix, 69shuba.com,阅读分流
host-suffix, 69xinshu.com,阅读分流
host-keyword, 69shu,阅读分流
# 放肆文学
host-suffix, funs.me,阅读分流
# 冰雷中文
host-suffix, bookbl.com,阅读分流
# 飘天文学网
host-suffix, ptwxz.com,阅读分流
host-suffix, piaotian.com,阅读分流
host-suffix, piaotia.com,阅读分流
# 半夏小说
host-suffix, m.banxia.tw,阅读分流
# 天天看小说网
host-suffix, cn.ttkan.co,阅读分流
# 玄幻文学
host-suffix, xhwx3.com,阅读分流
host-suffix, xhwx6.com,阅读分流
# 红袖招
host-suffix, hongxiux.com,阅读分流
host-suffix, hongxiuzhao.org,阅读分流
# Wattpad
host-suffix, api.wattpad.com,阅读分流
# 书宝网
host-suffix, shubaow.net,阅读分流
# 何图文化
host-suffix, hotupub.net,阅读分流
# 腐腐文库
host-suffix, smileangel5771.blog.fc2.com,阅读分流
# Archive of Our Own
host-suffix, archiveofourown.org,阅读分流
# 小说制造所
host-suffix, bookmake.cc,阅读分流
# 黑猫小说
host-suffix, czbooks.net,阅读分流
# 88小说网
host-suffix, 88xiaoshuo.com,阅读分流
# 可乐小说网
host-suffix, kelexsw.com,阅读分流
host-suffix, m.xklxsw.com,阅读分流
# uaa
host, api.uaa.com,阅读分流
host, cdn.uaa.com,阅读分流
host-keyword, uaa,阅读分流
# z-library
host, zh.z-library.se,阅读分流
host-keyword,z-library.se,阅读分流
#==================漫画==================#
# 禁漫天堂
host-suffix, jm365.work,阅读分流
host-suffix, 18comic.org,阅读分流
host-suffix, 18comic.vip,阅读分流
host-suffix, jm-comic1.cc,阅读分流
host-suffix, jm-comic2.org,阅读分流
host-keyword, jm-comic,阅读分流
host-keyword, 18comic,阅读分流
# 哔咔
host-suffix, manhuabika.com,阅读分流
# Eh e-hentai
host-suffix, e-hentai.org,阅读分流
host-suffix, ehgt.org,阅读分流
# Hitomi
host-suffix, atn.hitomi.la,阅读分流
# 漫蛙漫画
host-suffix, manwa.me,阅读分流
host-suffix, mwcomic9.online,阅读分流
# Twhentai
host-suffix, twhentai.com,阅读分流
host-suffix, api.hentaiser,阅读分流
host-suffix, hentaiser.com,阅读分流
# 套图
host-suffix, hentaiclub.net,阅读分流
# BiliBiliComics
host-suffix, bilibilicomics.com,阅读分流
# 733漫画
host-suffix, 733.so,阅读分流
# 七夕漫画
host-suffix, qiximh2.com,阅读分流
host-suffix, qiximh4.com,阅读分流
# BIKA庇护所
host-suffix, ios.zzz70.top,阅读分流
host-suffix, ios.zzz74.top,阅读分流
# 香香腐宅
host-suffix, boylove.cc,阅读分流
# 拷贝漫画 
host-keyword, copymanga,阅读分流
# 一耽漫画
host-keyword, yidan,阅读分流
host-keyword, yidanyidan,阅读分流
host-keyword, ydan, 阅读分流
# 顶漫画
host-suffix, dingmanhua.com , 阅读分流
# 鸟鸟韩漫
host-suffix, nnhanman.net , 阅读分流
# mangabz漫画
host-suffix, mangabz.com , 阅读分流
# 漫画柜
host-suffix, manhuagui.com , 阅读分流
host-suffix, mhgui.com , 阅读分流
# 拷贝漫画
host-suffix, copymanga.tv , 阅读分流
host-suffix, mangafuna.xyz , 阅读分流
# 禁漫屋
host-keyword, jmwu , 阅读分流
# 久久漫画
host-suffix, ikanhm.top , 阅读分流
host-suffix, mxshm.top , 阅读分流
host-suffix, wzdhm.cc , 阅读分流
host-suffix, comicimgs.com , 阅读分流
host-suffix, mxs10.cc , 阅读分流
# 就漫画
host-suffix, jiumanhua.com, 阅读分流
# rawkuma漫画
host-suffix, rawkuma.com , 阅读分流
# 开心看漫画
host-suffix, kxkmh.top , 阅读分流
host-suffix, ymmh01.top , 阅读分流
# 动漫之家
host-suffix, dmzj.com , 阅读分流
# 包子漫画
host-suffix, webmota.com , 阅读分流
# 漫蛙
host-suffix, manwa.me , 阅读分流
# 绅士漫画
host-suffix, wnacg.com , 阅读分流
host-suffix, qy0.ru , 阅读分流
# 酷看漫画
host-suffix, kukanmanhua.com , 阅读分流
# 九妖漫画
host-suffix, ciyuanrukou.com , 阅读分流
# colamanga漫画
host-suffix, colamanhua.com , 阅读分流
# 野蛮漫画
host-suffix, yemancomic.com , 阅读分流
host-suffix, tmsmh.com , 阅读分流
# ✈hentaiPaw漫画
host-suffix, hentaipaw.com, 阅读分流
host-suffix, imagedeliveries.com, 阅读分流
# ✈ASM漫画asmhentai
host-suffix, asmhentai.com, 阅读分流
# 7mm漫画7mmtv
host-suffix, 7mmtv.sx, 阅读分流
# H-Comic漫画
host-suffix, h-comic.com, 阅读分流
#==================影视==================#
# 海外看
host-suffix, haiwaikan.com,阅读分流
# Hanime
host-suffix, hanime1.me,阅读分流
host-suffix, vdownload.hembed.com,阅读分流
host-suffix, sb-cd.com,阅读分流
host-keyword, vdownload,阅读分流
host-keyword, sb-cd,阅读分流
host-keyword, abre-videos,阅读分流
# Pornhub
host-keyword, pornhub,阅读分流
host-suffix, phncdn.com,阅读分流
# 华乐影视（蓝光需代理）
host-suffix, huale.tv,阅读分流
# 啦啦啦影视
host-suffix, 35553.cc,阅读分流
# 樱花视频
host-suffix, yhzy.cc, 阅读分流
# ✈妹塔宇宙meitaav视频
host-suffix, meitaav.com, 阅读分流
host-suffix, meita.cc, 阅读分流
# 91porn视频
host-suffix, 91porn.com, 阅读分流
# 麻豆视频
host-suffix, me阅读分流, 阅读分流
# 溅射淫行视频
host-suffix, xd01.me, 阅读分流
# 正妹AV视频
host-suffix, goodav17.com, 阅读分流
# 哟糖社
host-suffix, nicesss.com , 阅读分流
host-suffix, nicezzz.com , 阅读分流
#================订阅源==================#
# 阿巴基猫Yealico漫画规则站
host, wc3818290.home.blog,阅读分流
# 小黃書订阅源
host, tw.xchina.co,阅读分流
# Demo~Jiali订阅源
host, jializyzapi.com,阅读分流
# 源仓库
host-suffix, yckceo.com,阅读分流